
body{
    background-color: whitesmoke;
}

.sale-banner{
    background-color: orange;
    border-radius: 15px; 
    padding: 10px 20px;
    display: inline-block;
    width: 95%; 
    justify-content: center; 
    text-align: center;
    animation: shake-scale 2s ease-in-out infinite; /* 2 秒一个循环，平滑过渡 */
}


@keyframes shake-scale {
    0% { transform: translateX(0) scale(1); }
    25% { transform: translateX(-3px) scale(1.02); }
    50% { transform: translateX(3px) scale(0.98); }
    75% { transform: translateX(-3px) scale(1.01); }
    100% { transform: translateX(0) scale(1); }
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0, 0); }
}



.orange{
    color: orange;
}

.right{
    margin-left: auto;
    width: 200px;
    height: 40px;
    background-color: white; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
}

.Cimage{
    align-items: center;
    width: 100%;
}

.indexnav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #f8f8f8;
}


.logo {
    height: 50px; 
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.menu-links,
.auth-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-item {
    margin-left: 20px;
}


.auth-links {
    margin-left: auto;
}

.nav-item a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block; 
}


.login a {
    background-color: orange;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.unlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
    text-align: center;
}


.unlock .top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    background-color: white;
    border-radius: 15px; 
    width: 75%; 
    text-align: center;
    animation: shake 1.5s ease-in-out infinite; 
    
}


.unlock .bottom-text {
    width: 100%;
}

.exp-box{
    display: flex;
    justify-content: center;
    gap: 20px; 

}

.exp{
    background-color: orange; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
    
}

.view{
    background-color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
}


.icon-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px;
    background-color:white;
    width: 95%; 
}

.icon-list li {
    display: flex;
    align-items: center;
}


.icon-list li:not(:last-child)::after {
    content: "|"; 
    margin: 0 15px;
    color: #999; 
    font-size: 20px;
}

.post1{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 95%;
}

.bene {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 40px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.price-options {
    display: flex;
    gap: 10px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 5px 15px;
}


.price-options p {
    padding: 5px 10px;
    border-radius: 10px;
}

.price-options p:first-child {
    background: #ccc; 
}

.price-options p:last-child {
    background: orange;
    color: white;
}


.together {
    background-color: white; 
    max-width: 800px;
    margin: 40px auto;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}

.together h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}


.together h2 span {
    color: orange;
}


.together p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}


.together button {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-left: auto; 
    text-align: center;
}


.together button:hover {
    background-color: #e67e22;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}


/* for smartphone */
@media screen and (max-width: 768px) {
    body {
        .menu-links {
            display: none; 
        }

        .Bcard-container {
            display: flex;
            flex-direction: column; 
            gap: 20px; 
            width: 80%;
            max-width: 800px; 
            margin: 40px auto; 
            padding: 20px; 
        }
        
        .Bcard-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        .Bcard-container .card h2 {
            font-size: 40px;
            font-weight: bold;
            text-align: right;
            margin: 0;
        }
        
        .Bcard-container.card h3,
        .card p {
            text-align: left;
        }
        
        .Bcard-container .card button {
            align-self: flex-end; 
            padding: 10px 15px;
            background: orange;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }


        .class-card-container {
            display: flex;
            flex-direction: column; 
            gap: 20px; 
            width: 80%;
            max-width: 800px; 
            margin: 40px auto; 
            padding: 20px; 
        }
        
        
        .class-card-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
        
       
        .class-card-container  .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        
        .class-card-container .course-info {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            justify-content: flex-start;
        }
        
        .class-card-container .course-info p {
            border: 2px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
        }
        
        .class-card-container .instructor {
            font-size: 14px;
            color: #666;
        }
        
       
        .class-card-container .card h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            width: 100%;
            margin-bottom: 10px;
        }
        
        
        .class-card-container .card .description {
            text-align: left;
            width: 100%;
            font-size: 14px;
            color: #555;
        }
        
        
        .class-card-container .card button {
            width: 90%;
            padding: 10px;
            background: #e0e0e0;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            align-self: center;
        }
        
        .class-card-container .card .button-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        
        .class-card-container .card button:hover {
            background: #d0d0d0;
        }
        

        .testimon {
            display: flex;
            flex-direction: column; 
            gap: 20px; 
            width: 90%;
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }
        
      
        .person-card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        

        .person-card p:first-child {
            margin-bottom: 15px;
        }
        
        
        .person-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        
        .person-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .person-details {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        
        .person-info button {
            padding: 10px 15px;
            background: #e0e0e0;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
        
        .person-info button:hover {
            background: #d0d0d0;
        }



        

        .pricing-container {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            gap: 20px;
            width: 90%;
            max-width: 600px; 
            margin: 40px auto;
            padding: 20px;
        }
        
   
        .pricing-card {
            background: white;
            border-radius: 15px;
            padding: 20px;
            width: 100%; 
            text-align: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            overflow: hidden; 
        }
        

        .pricing-card div {
            background: #f8f8f8;
            padding: 15px;
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        

        .pricing-card h2 {
            border: 2px solid #ffeb99;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            max-width: 90%; 
            word-wrap: break-word;
        }
        
      
        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 20px;
            font-weight: bold;
            max-width: 100%;
        }
        
    
        .feature {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 8px;
            width: 100%;
            justify-content: start;
            max-width: 100%;
            box-sizing: border-box;
        }
        
  
        .feature .check {
            background: #ffeb99;
            padding: 5px 10px;
            border-radius: 5px;
        }
        

        .feature .cross {
            background: #ddd;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
        
        .feature p {
            max-width: 90%;
            word-wrap: break-word;
        }
        
       
        .pricing-card button {
            width: 100%;
            background: orange;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            box-sizing: border-box;
        }
        
        .pricing-card button:hover {
            background: #e67e22;
        }
        
 

        

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.course-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
}

.Ccard {
    background: white;
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Ccard h2 {
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px; 
}

.Ccard h3 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}


.lesson-group {
    border: 1px solid #ddd;
    padding: 5px 8px; 
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px; 

}

.lesson-time {
    background: #f0f0f0;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: right;
    align-self: flex-end;
}




.achievements-container, .goals-container {
    max-width: 1000px;
    margin: 40px auto;
}

.achievements-container h2, 
.achievements-container p,
.goals-container h2,
.goals-container p {
    text-align: left;
    margin-left: 10px;
}


.cards-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: center; 
    margin-top: 20px;
    width: 100%;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    width: 80%; 
}


.card img {
    width: 50px;
    height: 50px;
}


        
       

        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            padding: 20px;
            background-color: #f8f8f8;
            text-align: left;
            gap: 30px;
        }
        
        
        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        
        .footer-middle {
            display: flex;
            justify-content: flex-start;
            gap: 50px;
        }
        
        .footer-middle div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        
        .footer-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        
        .footer-icons {
            display: flex;
            gap: 15px;
        }
    }
}

/* for laptop */

@media screen and (min-width: 768px ) and (max-width: 1024px)  {
    body {
        .Bcard-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(2, auto); 
            gap: 20px; 
            width: 80%;
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px; 
        }
        
        .Bcard-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        .Bcard-container .card h2 {
            font-size: 40px;
            font-weight: bold;
            text-align: right;
            margin: 0;
        }
        
        .Bcard-container .card h3,
        .card p {
            text-align: left;
        }
        
        .Bcard-container .card button {
            align-self: flex-end; 
            padding: 10px 15px;
            background: orange;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }


        .class-card-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(3, auto); 
            gap: 20px; 
            width: 100%;
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px;
        }
        

        .class-card-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
        
        
        .class-card-container .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        
        .class-card-container .course-info {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            justify-content: flex-start;
        }
        
        .class-card-container .course-info p {
            border: 2px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
        }
        
        .class-card-container .instructor {
            font-size: 14px;
            color: #666;
        }
        
        
        .class-card-container .card h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            width: 100%;
            margin-bottom: 10px;
        }
        
       
        .class-card-container .card .description {
            text-align: left;
            width: 100%;
            font-size: 14px;
            color: #555;
        }
        
       
        .class-card-container .card button {
            width: 90%;
            padding: 10px;
            background: #e0e0e0;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            align-self: center;
        }
        
        .class-card-container .card .button-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        
        .class-card-container .card button:hover {
            background: #d0d0d0;
        }

        .testimon {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(2, auto); 
            gap: 20px; 
            width: 100%;
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }
        

        .person-card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        
       
        .person-card p:first-child {
            margin-bottom: 15px;
        }
        
        
        .person-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        
        .person-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .person-details {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        
        .person-info button {
            padding: 10px 15px;
            background: #e0e0e0;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
        
        .person-info button:hover {
            background: #d0d0d0;
        }

        

        .pricing-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 100%;
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }
        
    
        .pricing-card {
            background: white;
            border-radius: 15px;
            padding: 20px;
            width: 45%;
            text-align: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box; 
            overflow: hidden; 
        }
        

        .pricing-card div {
            background: #f8f8f8;
            padding: 15px;
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        
       
        .pricing-card h2 {
            border: 2px solid #ffeb99;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            max-width: 90%; 
            word-wrap: break-word;
        }
        
        
        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 20px;
            font-weight: bold;
            max-width: 100%;
        }
        
       
        .feature {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 8px;
            width: 100%;
            justify-content: start;
            max-width: 100%;
            box-sizing: border-box;
        }
        
       
        .feature .check {
            background: #ffeb99;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
       
        .feature .cross {
            background: #ddd;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
        
        .feature p {
            max-width: 90%;
            word-wrap: break-word;
        }
        
       
        .pricing-card button {
            width: 100%;
            background: orange;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            box-sizing: border-box;
        }
        
        .pricing-card button:hover {
            background: #e67e22;
        }
        

        

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.course-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.Ccard {
    background: white;
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.Ccard h2 {
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px; 
}

.Ccard h3 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}


.lesson-group {
    border: 1px solid #ddd;
    padding: 5px 8px; 
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px; 
}


.lesson-time {
    background: #f0f0f0;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: right;
    align-self: flex-end;
}





.achievements-container, .goals-container {
    max-width: 1000px;
    margin: 40px auto;
}

.achievements-container h2, 
.achievements-container p,
.goals-container h2,
.goals-container p {
    text-align: left; 
    margin-left: 10px; 
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.card img {
    width: 50px;
    height: 50px;
}


        

        
        

        

        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            background-color: #f8f8f8;
            text-align: left;
            gap: 30px;
        }
        
        .footer-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        
         
         .footer-middle {
            display: flex;
            justify-content: flex-start;
            gap: 50px;
        }
        
        
        .footer-middle div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .footer-icons {
            display: flex;
            gap: 15px;
        }
        
        
        .footer-bottom {
            width: 100%;
            text-align: center;
            padding-top: 20px;
        }
        
    }
}

/* for PC */


@media screen and (min-width: 1024px ) {
    body {
        .Bcard-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(2, auto); 
            gap: 20px; 
            width: 80%;
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px; 
        }
        
        .Bcard-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        .Bcard-container .card h2 {
            font-size: 40px;
            font-weight: bold;
            text-align: right;
            margin: 0;
        }
        
        .Bcard-container .card h3,
        .card p {
            text-align: left;
        }
        
        .Bcard-container .card button {
            align-self: flex-end; 
            padding: 10px 15px;
            background: orange;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }


        .class-card-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(3, auto); 
            gap: 20px; 
            width: 100%;
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px;
        }
        

        .class-card-container .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
        
        
        .class-card-container .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        
        .class-card-container .course-info {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            justify-content: flex-start;
        }
        
        .class-card-container .course-info p {
            border: 2px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
        }
        
        .class-card-container .instructor {
            font-size: 14px;
            color: #666;
        }
        
        
        .class-card-container .card h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            width: 100%;
            margin-bottom: 10px;
        }
        
       
        .class-card-container .card .description {
            text-align: left;
            width: 100%;
            font-size: 14px;
            color: #555;
        }
        
       
        .class-card-container .card button {
            width: 90%;
            padding: 10px;
            background: #e0e0e0;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            align-self: center;
        }
        
        .class-card-container .card .button-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        
        .class-card-container .card button:hover {
            background: #d0d0d0;
        }

        .testimon {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(2, auto); 
            gap: 20px; 
            width: 100%;
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }
        

        .person-card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        
       
        .person-card p:first-child {
            margin-bottom: 15px;
        }
        
        
        .person-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        
        .person-info img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .person-details {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        
        .person-info button {
            padding: 10px 15px;
            background: #e0e0e0;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
        
        .person-info button:hover {
            background: #d0d0d0;
        }

        

        .pricing-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 100%;
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }
        
    
        .pricing-card {
            background: white;
            border-radius: 15px;
            padding: 20px;
            width: 45%;
            text-align: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box; 
            overflow: hidden; 
        }
        

        .pricing-card div {
            background: #f8f8f8;
            padding: 15px;
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        
       
        .pricing-card h2 {
            border: 2px solid #ffeb99;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            max-width: 90%; 
            word-wrap: break-word;
        }
        
        
        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 20px;
            font-weight: bold;
            max-width: 100%;
        }
        
       
        .feature {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 8px;
            width: 100%;
            justify-content: start;
            max-width: 100%;
            box-sizing: border-box;
        }
        
       
        .feature .check {
            background: #ffeb99;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
       
        .feature .cross {
            background: #ddd;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
        
        .feature p {
            max-width: 90%;
            word-wrap: break-word;
        }
        
       
        .pricing-card button {
            width: 100%;
            background: orange;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            box-sizing: border-box;
        }
        
        .pricing-card button:hover {
            background: #e67e22;
        }
        

        

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.course-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.Ccard {
    background: white;
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.Ccard h2 {
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px; 
}

.Ccard h3 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}


.lesson-group {
    border: 1px solid #ddd;
    padding: 5px 8px; 
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px; 
}


.lesson-time {
    background: #f0f0f0;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: right;
    align-self: flex-end;
}





.achievements-container, .goals-container {
    max-width: 1000px;
    margin: 40px auto;
}

.achievements-container h2, 
.achievements-container p,
.goals-container h2,
.goals-container p {
    text-align: left; 
    margin-left: 10px; 
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.card img {
    width: 50px;
    height: 50px;
}


        

        
        

        

        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            background-color: #f8f8f8;
            text-align: left;
            gap: 30px;
        }
        
        .footer-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        
         
         .footer-middle {
            display: flex;
            justify-content: flex-start;
            gap: 50px;
        }
        
        
        .footer-middle div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .footer-icons {
            display: flex;
            gap: 15px;
        }
        
        
        .footer-bottom {
            width: 100%;
            text-align: center;
            padding-top: 20px;
        }
        
    }
}
